Repository matrix97317/UniRobot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, flake8, pylint, toml-sort

black:
  name: black
  language: system
  entry: pipenv run python -m black

mypy:
  name: mypy
  language: system
  entry: make mypy
  require_serial: true
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: pipenv run python -m flake8

pylint:
  name: pylint
  language: system
  entry: pipenv run python -m pylint
  require_serial: true

toml-sort:
  name: toml-sort
  language: system
  entry: pipenv run toml-sort -a -i

init repo
  .pylintrc
  Makefile
  dockers/BrainDockerfile
  dockers/RobotDockerfile
  md_doc/design_manual.md
  unirobot/__init__.py
  unirobot/robot/__init__.py
Due: black, mypy, flake8, pylint

Init UniRobot Repo (#1)
  .flake8
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .pylintrc
  LICENSE
  Makefile
  README.md
  asset/img/uni-robot.png
  dockers/BrainDockerfile
  dockers/RobotDockerfile
  md_doc/design_manual.md
  md_doc/developer_manual.md
  md_doc/user_manual.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.py
  tests/pkg_test.py
  unirobot/__init__.py
  unirobot/brain/__init__.py
  unirobot/brain/infra/__init__.py
  unirobot/brain/model/__init__.py
  unirobot/brain/model/data/__init__.py
  unirobot/brain/model/data/dataloader/__init__.py
  unirobot/brain/model/data/dataset/__init__.py
  unirobot/brain/model/data/sampler/__init__.py
  unirobot/brain/model/data/transform/__init__.py
  unirobot/brain/model/decoder/__init__.py
  unirobot/brain/model/encoder/__init__.py
  unirobot/brain/model/layer/__init__.py
  unirobot/brain/model/loss/__init__.py
  unirobot/brain/trainer/__init__.py
  unirobot/robot/__init__.py
Due: black, mypy, flake8, pylint, toml-sort

add utils
  requirements.txt
  unirobot/utils/__init__.py
  unirobot/utils/cfg_parser.py
  unirobot/utils/constants.py
  unirobot/utils/dist_util.py
  unirobot/utils/drop_buffer_cache.py
  unirobot/utils/exceptions.py
  unirobot/utils/file_util.py
  unirobot/utils/log_util.py
  unirobot/utils/settings.py
  unirobot/utils/slot_loader.py
  unirobot/utils/slot_util.py
  unirobot/utils/system_info.py
  unirobot/utils/unirobot_slot.py
Due: black, mypy, flake8, pylint

add utils (#2)
  requirements.txt
  unirobot/utils/__init__.py
  unirobot/utils/cfg_parser.py
  unirobot/utils/constants.py
  unirobot/utils/dist_util.py
  unirobot/utils/drop_buffer_cache.py
  unirobot/utils/exceptions.py
  unirobot/utils/file_util.py
  unirobot/utils/log_util.py
  unirobot/utils/settings.py
  unirobot/utils/slot_loader.py
  unirobot/utils/slot_util.py
  unirobot/utils/system_info.py
  unirobot/utils/unirobot_slot.py
Due: black, mypy, flake8, pylint

add distributed tools
  README.md
  unirobot/brain/infra/distributed/__init__.py
  unirobot/brain/infra/distributed/communication/__init__.py
  unirobot/brain/infra/distributed/communication/p2p_com.py
  unirobot/brain/infra/distributed/data_parallel/__init__.py
  unirobot/brain/infra/distributed/data_parallel/wrap_model.py
  unirobot/brain/infra/distributed/initialization/__init__.py
  unirobot/brain/infra/distributed/initialization/parallel_state.py
  unirobot/brain/infra/distributed/memory/__init__.py
  unirobot/brain/infra/distributed/memory/memory.py
  unirobot/brain/infra/distributed/optimizer/__init__.py
  unirobot/brain/infra/distributed/optimizer/clip_grads.py
  unirobot/brain/infra/distributed/optimizer/optimizer.py
  unirobot/brain/infra/distributed/pipeline_parallel/__init__.py
  unirobot/brain/infra/distributed/pipeline_parallel/pp_scheme.py
  unirobot/brain/infra/distributed/pipeline_parallel/pp_scheme_v2.py
  unirobot/brain/infra/distributed/tensor_parallel/__init__.py
  unirobot/brain/infra/distributed/utils.py
Due: black, mypy, flake8, pylint

add distributed tools (#3)
  README.md
  unirobot/brain/infra/distributed/__init__.py
  unirobot/brain/infra/distributed/communication/__init__.py
  unirobot/brain/infra/distributed/communication/p2p_com.py
  unirobot/brain/infra/distributed/data_parallel/__init__.py
  unirobot/brain/infra/distributed/data_parallel/wrap_model.py
  unirobot/brain/infra/distributed/initialization/__init__.py
  unirobot/brain/infra/distributed/initialization/parallel_state.py
  unirobot/brain/infra/distributed/memory/__init__.py
  unirobot/brain/infra/distributed/memory/memory.py
  unirobot/brain/infra/distributed/optimizer/__init__.py
  unirobot/brain/infra/distributed/optimizer/clip_grads.py
  unirobot/brain/infra/distributed/optimizer/optimizer.py
  unirobot/brain/infra/distributed/pipeline_parallel/__init__.py
  unirobot/brain/infra/distributed/pipeline_parallel/pp_scheme.py
  unirobot/brain/infra/distributed/pipeline_parallel/pp_scheme_v2.py
  unirobot/brain/infra/distributed/tensor_parallel/__init__.py
  unirobot/brain/infra/distributed/utils.py
Due: black, mypy, flake8, pylint

fix typo & add demo code
  .flake8
  .pylintrc
  configs/task_parallel_res50/exp_default/cfg_fp16_single.py
  slot_entry.py
  unirobot/brain/__init__.py
  unirobot/brain/brain_launcher.py
  unirobot/brain/data/dataset/base_dataset.py
  unirobot/brain/data/dataset/imagenet.py
  unirobot/brain/data/sampler/base_distributed_sampler.py
  unirobot/brain/evaluator/imagenet_evaluator.py
  unirobot/brain/infra/tensorboard_util.py
  unirobot/brain/model/base_model_flow.py
  unirobot/brain/model/encoder/parallel_resnet_v3.py
  unirobot/brain/model/full_model/base_full_model.py
  unirobot/brain/model/full_model/resnet50_parallel_model.py
  unirobot/brain/model/loss/compose_weighted_loss.py
  unirobot/brain/model/loss/smooth_loss.py
  unirobot/brain/model/optimizer/base_lr_scheduler.py
  unirobot/brain/trainer/parallel_trainer.py
  unirobot/robot/robot_interface.py
Due: black, mypy, flake8, pylint

fix slot entry
  setup.py
  slot_entry.json
Due: black, mypy, flake8, pylint

fix json typo
  slot_entry.json
Due: none

use slot json (#5)
  setup.py
  slot_entry.json
  slot_entry.py
Due: black, mypy, flake8, pylint

add robot interface
  .pylintrc
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/cli.py
  unirobot/robot/device_interface.py
  unirobot/robot/motor/__init__.py
  unirobot/robot/robot_interface.py
  unirobot/robot/robot_launcher.py
  unirobot/robot/sensor/__init__.py
  unirobot/robot/teleoperator/__init__.py
  unirobot/utils/slot_loader.py
  unirobot/utils/unirobot_slot.py
Due: black, mypy, flake8, pylint

add robot interface (#6)
  .pylintrc
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/cli.py
  unirobot/robot/device_interface.py
  unirobot/robot/motor/__init__.py
  unirobot/robot/robot_interface.py
  unirobot/robot/robot_launcher.py
  unirobot/robot/sensor/__init__.py
  unirobot/robot/teleoperator/__init__.py
  unirobot/utils/slot_loader.py
  unirobot/utils/unirobot_slot.py
Due: black, mypy, flake8, pylint

add so-arm-101 robot code & collect data demo
  .flake8
  .pylintrc
  configs/task_pick_toy/exp_default/cfg_demo.py
  md_doc/demo_show.md
  unirobot/robot/motor/so_arm101_calib.py
  unirobot/robot/motor/so_arm101_follower.py
  unirobot/robot/robot_so101.py
  unirobot/robot/ros_lib/feetech/__init__.py
  unirobot/robot/ros_lib/feetech/feetech.py
  unirobot/robot/ros_lib/feetech/tables.py
  unirobot/robot/ros_lib/motors_bus.py
  unirobot/robot/sensor/opencv_camera.py
  unirobot/robot/teleoperator/so_arm101_calib.py
  unirobot/robot/teleoperator/so_arm101_leader.py
  unirobot/robot/utils/vis_hdf5.py
Due: black, mypy, flake8, pylint

update readme
  README.md
Due: none

Fix readme (#8)
  README.md
Due: none

update url
  README.md
Due: none

Fix readme (#9)
  README.md
Due: none

update readme
  README.md
  asset/img/collect_data.png
  asset/img/vis_data.png
  md_doc/demo_show.md
Due: none

update readme
  md_doc/demo_show.md
Due: none

Fix readme (#10)
  README.md
  asset/img/collect_data.png
  asset/img/vis_data.png
  md_doc/demo_show.md
Due: none

add act model
  .flake8
  .pylintrc
  configs/task_pick_toy/exp_default/cfg_demo.py
  pyproject.toml
  requirements.txt
  slot_entry.json
  tests/act_dataset_test.py
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/brain/model/base_model_flow.py
  unirobot/brain/model/encoder/parallel_resnet_v3.py
  unirobot/brain/model/encoder/transformer.py
  unirobot/brain/model/full_model/act_full_model.py
  unirobot/brain/model/full_model/base_full_model.py
  unirobot/brain/model/loss/act_kl_loss.py
  unirobot/robot/motor/so_arm101_follower.py
Due: black, mypy, flake8, pylint, toml-sort

add act model (#11)
  .flake8
  .pylintrc
  configs/task_pick_toy/exp_default/cfg_demo.py
  pyproject.toml
  requirements.txt
  slot_entry.json
  tests/act_dataset_test.py
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/brain/model/base_model_flow.py
  unirobot/brain/model/encoder/parallel_resnet_v3.py
  unirobot/brain/model/encoder/transformer.py
  unirobot/brain/model/full_model/act_full_model.py
  unirobot/brain/model/full_model/base_full_model.py
  unirobot/brain/model/loss/act_kl_loss.py
  unirobot/robot/motor/so_arm101_follower.py
Due: black, mypy, flake8, pylint, toml-sort

add readme
  README.md
  md_doc/supported_model_robots.md
Due: none

add readme (#12)
  README.md
  md_doc/supported_model_robots.md
Due: none

optimize data record
  .pylintrc
  pyproject.toml
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/brain/data/dataset/base_dataset.py
  unirobot/robot/robot_so101.py
Due: black, mypy, flake8, pylint, toml-sort

optimize data record (#13)
  .pylintrc
  pyproject.toml
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/brain/data/dataset/base_dataset.py
  unirobot/robot/robot_so101.py
Due: black, mypy, flake8, pylint, toml-sort

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

add readme
  README.md
  md_doc/demo_show.md
  md_doc/developer_manual_en.md
  md_doc/readme_en.md
  md_doc/user_manual.md
  md_doc/user_manual_en.md
Due: none

add readme
  md_doc/demo_show.md
  md_doc/user_manual.md
  md_doc/user_manual_en.md
Due: none

Add readme (#14)
  README.md
  md_doc/demo_show.md
  md_doc/developer_manual_en.md
  md_doc/readme_en.md
  md_doc/user_manual.md
  md_doc/user_manual_en.md
Due: none

fix.
  md_doc/demo_show.md
Due: none

Add readme (#15)
  md_doc/demo_show.md
Due: none

add act train&infer
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  brain_spawn_run.sh
  configs/task_pick_toy/exp_default/cfg_demo.py
  requirements-dev.txt
  slot_entry.json
  unirobot/__init__.py
  unirobot/brain/brain_launcher.py
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/brain/data/sampler/base_distributed_sampler.py
  unirobot/brain/infer/__init__.py
  unirobot/brain/infer/base_infer.py
  unirobot/brain/infra/checkpoint_util.py
  unirobot/brain/model/full_model/act_full_model.py
  unirobot/brain/utils/__init__.py
  unirobot/brain/utils/vis_open_loop.py
  unirobot/utils/dist_util.py
Due: black, mypy, flake8, pylint

add act train&infer (#16)
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  brain_spawn_run.sh
  configs/task_pick_toy/exp_default/cfg_demo.py
  requirements-dev.txt
  slot_entry.json
  unirobot/__init__.py
  unirobot/brain/brain_launcher.py
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/brain/data/sampler/base_distributed_sampler.py
  unirobot/brain/infer/__init__.py
  unirobot/brain/infer/base_infer.py
  unirobot/brain/infra/checkpoint_util.py
  unirobot/brain/model/full_model/act_full_model.py
  unirobot/brain/utils/__init__.py
  unirobot/brain/utils/vis_open_loop.py
  unirobot/utils/dist_util.py
Due: black, mypy, flake8, pylint

add act baseline
  configs/task_pick_toy/exp_default/cfg_demo.py
  unirobot/brain/data/dataset/act_dataset.py
  unirobot/brain/infer/base_infer.py
  unirobot/brain/model/full_model/act_full_model.py
  unirobot/brain/utils/filter_algo.py
Due: black, mypy, flake8, pylint

Path conditions:
  black: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  toml-sort: any of: \.toml$
